TOOLKIT_PATH=overleaf-toolkit
TOOLKIT_REPO=https://github.com/overleaf/toolkit.git
TOOLKIT_REF=9280a93
OVERLEAF_HOST=127.0.0.1
OVERLEAF_PORT=8080
OVERLEAF_APP_NAME=Overleaf
BASE_OVERLEAF_IMAGE_TAG=6.1.2
OVERLEAF_IMAGE_TAG=6.1.2-with-texlive-full
OVERLEAF_IMAGE_PLATFORM=auto
TEXLIVE_PACKAGES=scheme-full
TEXLIVE_REQUIRED_SCHEME=scheme-full
TEXLIVE_CHECK_FILES=elsarticle.cls algorithmicx.sty rsfs10.tfm
AUTO_PRUNE_SHARELATEX_IMAGES=1
KEEP_BASE_OVERLEAF_IMAGE=0
OVERLEAF_OPEN_PATH=/launchpad
